
  @font-face {
    font-family: 'RUNE';
    src: url(/fonts/RUNE.TTF);
  }
  @font-face {
    font-family: 'MORPHEUS';
    src: url(/fonts/MORPHEUS.TTF);
  }
  @font-face {
    font-family: 'evenescent';
    src: url(/fonts/evanescent.ttf);
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("/media\lewis-creek-trail-pool-by-ra-myers.JPG");
    background-size: cover;
    background-position: center;
}
main {
    margin-top: 50px;
    padding-top; 25px;
}
main h1{z-index: 2000;
    margin-top: 5%;
    font-size: 120px;
    font-family: 'MORPHEUS', cursive;
    color: gold;
    text-shadow: 2 4px rgb(128, 95, 11);
}
main h2{z-index: 2000;
    font-size: 80px;
    font-family: 'evenescent', cursive;
    color: gold;
    text-shadow: 2 4px rgb(128, 95, 11);
}

.mainbox{
    position: relative;
    width: 1000px;
    height: 1000px;
    margin-top: 50px;
}
.mainbox::after{
    position: absolute;
    content:"";
    width: 100%;
    height: 100%;
    background:url(/media/viking-arrow.png) no-repeat;
    background-size: 10%;
    left:60%;
    top: 48%;
    transform: rotate(90deg);

}

.box{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 10px solid whitesmoke;
    overflow: hidden;
    transition: all ease-in-out 5s;
    transform: rotate(90deg);
}
span{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
}
.span1{
    clip-path: polygon(0 17%, 0 50%, 50% 50%);
    background-color: rgba(0, 128, 0, 0.264);
}
.span2{
    clip-path: polygon(0 17%, 30% 0, 50% 50%);
    background-color: rgba(255, 0, 0, 0.228);
}
.span3{
    
    clip-path: polygon(30% 0, 71% 0, 50% 50%);
    background-color: rgba(0, 0, 255, 0.321);
}
.span4{
    clip-path: polygon(71% 0, 100% 18%, 50% 50%);
    background-color: rgba(255, 217, 0, 0.222);
}
.span5{
    clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
    background-color: rgba(255, 0, 247, 0.277);
}
.box2 .span3{
    background-color: #00ffaa27;
}
.box2{
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}
.box2 .span1{
    background:rgba(51, 51, 51, 0.527);
}
h5{
    color: rgb(255, 236, 125);
    font-weight: 500;
    text-shadow: 2px 2px black;
}
p{
    color:  rgb(255, 236, 125);
    font-weight: bolder;
    text-shadow: 0 2px black;
    font-family: 'viking_elder_runes_bold', sans-serif;
}
.font{
    columns: #ffffff;
    font-size: 40px;
}
.box1 .span1 h5 {
    position: absolute;
    top: 40%;
    right: 64%;
    transform: rotate(200deg);
    text-align: center;
}
.box1 .span2 h5 {
    position: absolute;
    top: 30%;
    right: 54%;
    transform: rotate(-130deg);
    text-align: center;
}
.box1 .span3 h5 {
    position: absolute;
    top: 24%;
    right: 40%;
    transform: rotate(-90deg);
    text-align: center;
}
.box1 .span4 h5{
    position: absolute;
    top: 30%;
    right: 30%;
    transform: rotate(-48deg);
    text-align: center;  
}
.box1 .span5 h5{
    position: absolute;
    top: 40%;
    right: 20%;
    transform: rotate(-18deg);
    text-align: center;
}
.box2 .span1 h5{
    
    position: absolute;
    top: 40%;
    right: 64%;
    transform: rotate(200deg);
    text-align: center;
}
.box2 .span2 h5{
    position: absolute;
    top: 25%;
    right: 54%;
    transform: rotate(-130deg);
}
.box2 .span3 h5{
    position: absolute;
    top: 16%;
    right: 36%;
    transform: rotate(270deg);
}
.box2 .span4 h5{
    position: absolute;
    top: 30%;
    right: 30%;
    transform: rotate(310deg);
}
.box2 .span5 h5{
    position: absolute;
    top: 40%;
    right: 22%;
    transform: rotate(-20deg);
}
.spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px double gold;
    outline: 8px double black;
    background:royalblue;
    color: gold;
    box-shadow: 0 5px 20px black;
    font-weight: bolder;
    font-size: 28px;
    text-shadow: 0 3px black;
    cursor: pointer;
    z-index: 1000;
}
.spin:active{
    width: 90px;
    height: 90px;
    font-size: 24px;
    text-shadow: 0 3px whitesmoke;
    background: rgb(118, 148, 241);
    color: yellow;
    outline: 8px double whitesmoke;
}
.mainbox.animate:after{
    animation:animateArrow 0.7s ease infinite;
}
audio{
    display: none;
}
@keyframes animateArrow{
    50% {
        right: -50px;
    }
}